/*
Proyecto progamado por xlFederalElk0lx.
Informes coil811122@icloud.com
*/
/* 
    Created on : 20/12/2015, 08:43:17 PM
    Author     : xlfederalelk0lx
*/

body{
    margin: 0;
    padding: 0;
    padding-top: 50px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #636363;
    background: #1E222B;
}

form{
    text-align: right;
}

.fa{
    margin-right: 5px;
}

.btn{
    margin-top: 1em;;
    color: #fff;
    border-radius: 3px;
}

.btn-info{
    color: #fff;
}

.btn-inverse{
    color: #7A8293;    
    background: rgba(0, 0, 0, 1);
    border-color: rgba(0, 0, 0, 1);
}

.btn-inverse:hover{
    background: #1E222B;
    color: rgba(255, 255, 255, .61);
}
.alert{
    border-radius: 3px;
    color: #fff;
    margin-top: 1em;
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;
    font-size: 12px;
    padding: 5px;
}

.alert-danger{
    background: #e50914;
    border-color: #e50914;
}

.alert-danger strong{
    color: #740006;
}

.alert-success{
    background: #576f3f;
    border-color: #576f3f;
}

.alert-success strong{
    color: #81ad53;
}

.main{
    padding: 0px 90px;
    text-align: center;
}

.main .box{
    border-radius: 0px;
    background: #262B36;
    box-shadow: 0 1px 10px rgba(51, 92, 115, .1), 0 0 5px rgba(0, 0, 0, .05);
    text-align: left;
    padding: 15px;
    font-size: 13px;
    color: #9198AB;   
}

.main .box-admin{
    margin: auto;
    margin-top: 50px;
    max-width: 700px;
}

.main .box .page-header{
    font-size: 23px;
    font-weight: 300;
    margin-top: 1em;
    color: #7A8293;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    width: 100%;
    border-bottom-color: #000;
    color: #fff;
}

.main .box p{
    font-size: 12px;
}

.nav-tabs{
    border-bottom-color: #000;
}

.nav-tabs > li{
    background: #1a1c20;
    margin-right: 10px;
    margin-bottom: 2px;
}
.nav-tabs > li > a{
    margin: 0px;
    color: #858ea5;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,
.nav-tabs>li>a:focus, .nav-tabs>li>a:hover{
    background-color: #262B36;
    border:none;
    color: #fff;
    border-radius: 0px;
}

.tabs{
    text-align: right;
}

.tab-content{
    padding: 10px 15px;
    text-align: left;
}

.input-group{
    margin-top: 1em;
}
.input-group .input-group-addon{
    background-color: #313745;
    border-color: #313745;
    color: #8c8c9c;
    text-align: right;
    min-width: 120px;
    text-transform: capitalize;
}

.input-group > input{
    background: transparent;
    border:none;
    border: 1px solid #313745;
    background: rgba(0, 0, 0, .47);
    color: #fff;
}

.navbar-default {
    background: #262b36;
    moz-box-shadow: 0 1px 10px -4px #000;
    -webkit-box-shadow: 0 1px 10px -4px #000;
    box-shadow: 0 1px 10px -4px #000;
    border-color: #1a1c20;
    height: 60px;
}
.navbar-default .navbar-brand {
    color: #ffffff;
    height: 60px;
    line-height: 25px;
}
.navbar-default .navbar-brand .fa{
    color: #6ba2e0;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #6ba2e0;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #7a889d;
    height: 60px;
    line-height: 25px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #1a1c20;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #6ba2e0;
    background-color: #1a1c20;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background: #1E222B;
}
.navbar-default .navbar-toggle {
    border-color: #1a1c20;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #1a1c20;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-link:hover {
    color: #6ba2e0;
}

.navbar-default .navbar-nav .dropdown .dropdown-menu{
    background: #1E222B;
    color: #7a889d;
}

.navbar-default .navbar-nav .dropdown .dropdown-menu li a{
    color: #7a889d;
}

.navbar-default .navbar-nav .dropdown .dropdown-menu li:hover a{
    background-color: #1a1c20;
    color: #fff;
}

.navbar-default .navbar-nav .dropdown .dropdown-menu .divider{
    background-color: #000;
}

.dropdown-login{
    min-width: 200px;
    padding: 10px;
}
.dropdown-login .input-group:first-child,.dropdown-login .input-group:first-of-type{
    margin-top: 0px;
}
.dropdown-login .input-group .input-group-addon{
    display: block;
    min-width: none;
    width: auto;
    text-align: left;
    background: transparent;
    border: none;
    padding-left: 0px;
}
.dropdown-login .input-group .form-control{
    border-radius: 0px;
    min-width: 100%;
    width: 100%;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #6ba2e0;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #6ba2e0;
        background-color: #1a1c20;
    }
    .main{
        padding: 0px;
    }
    .dropdown-login .input-group .form-control{
        border-radius: 0px;
        min-width: 100%;
        width: 100%;
    }
}